{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
<link href="images/favicon.png" rel="icon" />
<title>Online Payment Service</title>
<meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
<meta name="author" content="harnishdesign.net">

<!-- Web Fonts
============================================= -->

<!-- Stylesheet
============================================= -->
<link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'website/css/all.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'website/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'website/css/stylesheet.css' %}" />
<!-- Colors Css -->
<link id="color-switcher" type="text/css" rel="stylesheet" href="#" />
</head>
<body>

{% block content %}

{% endblock content %}
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/js/owl.carousel.min.js' %}"></script>
<!-- Style Switcher -->
<script src="{% static 'website/js/switcher.min.js' %}"></script>
<script src="{% static 'website/js/theme.js' %}"></script>
</body>
</html>